<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="Location" value="beans/database.properties"></property>
		</bean>
		
		<bean id="Login" class="beans.Login">
		  <property name="username" value="${db.username}"></property>
		  <property name="password" value="${db.password}"></property>
		  </bean>
		<bean id="std" class="beans.Student">
		<!--  	<constructor-argument name="regno" value="123"></constructor-argument> 
		<constructor-argument name= "stdname" value="yasaswi"></constructor-argument> -->
		<property name= "regno" value="123" ></property>
		<property name="stdname" value="deloitte"></property>
		<property name="address" ref="addr"></property> <!-- manual writing -->
		</bean>
		<bean id="addr" class="beans.Address">
		  <property name="street" value="Hi tech city"> </property>
		  <property name="city" value="Huderabad"></property>
		  </bean>
		<bean id="emp" class="beans.Employee"> 
	
		<property name= "empname" value="yasaswi" ></property>
		<property name="empid" value="1234"></property>
		<property name= "skills">
		  <list>
		  <value>java</value>
		  <value>spring</value>
		  <value>oracle</value>
		  </list> </property>
		  </bean>
		
</beans>